.container {
    width: var(--container-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 64px;
}

.first-section {
    padding-top: 120px;
}

body,
html {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    color: var(--color-text-dark);
    font-size: var(--text-size-md);
    line-height: var(--text-line-height-md);
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

body * {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    z-index: 1;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.logo-text {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    line-height: 40px;
    .l {
        font-size: 40px;
    }
    .eaf {
        line-height: 28px;
    }
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.scroll-to-top img {
    width: 40px;
    height: 40px;
    transform: rotate(-90deg);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    padding-left: 100px;
    width: 100%;
    position: relative;
    z-index: 9000;
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    gap: 64px;
}

.menu-container a {
    text-decoration: none;
    color: #fff;
    font-size: var(--text-size-md);
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    &:after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: width 0.2s ease;
    }
    &:hover::after {
        width: 100%;
    }
}

.menu.legal-menu {
    .logo-text {
        color: var(--color-text-dark);
    }
    .menu-container a {
        color: var(--color-text-dark);
    }
}

.orange-bg {
    background-color: #fdf8f5;
    padding-bottom: 64px;
    width: 100%;
}

.bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 0;
    padding-bottom: 120px;
}

.tomato-container {
    position: absolute;
    top: 110vh;
    right: 0;
}

.image-bg-container {
    background-image: url(../assets/light-bg.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.image-bg-container-2 {
    background-image: url(../assets/rectangle-1.png), url(../assets/rectangle-2.png);
    background-size: cover, cover;
    background-position: bottom, bottom;
    background-repeat: no-repeat, no-repeat;
    padding: 300px 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-top: var(--text-primary-spacing-top);
    gap: 32px;
}

.text-container * {
    margin: 0;
    padding: 0;
}

.veggies-bg-container {
    position: relative;
    padding: 0 32px;
    padding-top: 200px;
}

.veggies-bg {
    position: absolute;
    top: 150px;
    width: 250px;
}

.veggies-bg.right {
    right: 0;
}

.veggies-bg.left {
    left: 0;
}

.text-primary {
    font-size: var(--text-size-xl);
    line-height: var(--text-line-height-xl);
    font-weight: 500;
    color: #fff;
}

.text-secondary {
    color: #fff;
}

.button-container {
    display: flex;
    gap: var(--button-gap);
}

.button {
    display: block;
    height: var(--button-height);
    background-color: black;
    border-radius: 8px;
    cursor: pointer;
}

.button img {
    height: 100%;
    width: auto;
    cursor: pointer;
}

.app-preview-1 {
    position: absolute;
    top: 196px;
    right: var(--app-preview-1-right);
    width: var(--app-preview-1-width);
    height: auto;
}

.app-preview-2 {
    position: absolute;
    top: 160px;
    left: var(--app-preview-2-left);
    width: var(--app-preview-2-width);
}

.app-preview-3 {
    width: var(--app-preview-3-width);
}

.combined-pictures {
    position: relative;
}

.combined-pictures .leafs {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: var(--app-preview-leaf-width);
}

.pumkin {
    background-image: url("../assets/veggies/pumpkin.png");
    background-size: var(--pumkin-size);
    background-position: bottom left;
    background-repeat: no-repeat;
}

.media-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.media-width {
    width: 176px;
}

footer {
    width: 100%;
}

footer .top {
    padding-bottom: 20px;
    border-bottom: 4px solid rgba(212, 109, 40, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .bottom {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 64px;
}

footer .bottom .first-line,
footer .bottom .second-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.contact {
    color: var(--color-primary-light);
}

footer .bottom .link-container,
.social-container {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: var(--text-size-sm);
    a {
        text-decoration: none;
        color: var(--color-primary);
    }
}

.social-container a {
    display: block;
}

.copyright {
    font-size: var(--text-size-xs);
}
